*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: aqua;
}
header p
{
    color: crimson;
    font-size: 2rem;
}
header
{
    width: 80%;
    height: 50vh;
    background-color: yellow;
}